#column-right {
    width: 48%;
    background: #ffffff;
    float: left;
    min-height: auto;
    padding: 20px;
    margin: 15px;
    display: block;
}

#column-left {
    background: #ffffff;
    width: 48%;
    min-height: auto;
    float: left;
    padding: 20px;
    margin: 10px;

}

.content_s_m {
    background: #ffffff; /* Цвет фона */
    color: #0e0e0e; /* Цвет текста */
    padding: 5px; /* Поля вокруг текста */
    border-radius: 25px; /* Уголки */
    margin: 20px;
    text-align: center;
    font-family: "Segoe UI";
    display: block;
}

.col-2 {
    float: left;
    width: 40%;
    margin-top: 7px;
    margin: 7px;
    padding: 7px;
    vertical-align: center;
}